# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Maur\Documents\GitHub\SchoolStuff\Esercizi a caso in java\Mini-Robot\Mini-Robot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
